body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
  background-color: #001499;
}

.heading {
  display: flex;
  justify-content: center;
}

h1 {
  justify-content: center;
  min-height: 10vh;
  color: white;
  font-family: 'Bungee', cursive;
  font-size: 9vh;
  margin: 0;
  text-shadow: 5px 5px black;
}

#gameBoard {
  display: flex;
  justify-content: space-around;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  display: flex;
  border: 3px solid black;
  border-width: 13px 3px 10px 3px;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  width: 16vw;
  height: 10vh;
  justify-content: center;
  align-items: center;
  margin: 0;
}

p {
  display: flex;
  border: 3px solid black;
  color: rgb(233, 163, 97);
  font-family: helvetica;
  width: 16vw;
  height: 10vh;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 6vh;
  font-size: 6vw;
  text-shadow: 4px 4px black;
  font-weight: bold;
}

p:hover { 
  border: 3px solid white;
}

.scoreboard {
  display: flex;
  justify-content: center;
  min-height: 5vh;
}

h2 {
  color: white;
  font-family: helvetica;
  margin: 0;
  font-size: 5vh;
}

span {
  color: white;
  font-family: helvetica;
  margin: 0;
  font-size: 5vh;
}

/* used a CSS Tricks tutorial for modal help */ 

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  display: flex;
  flex-direction: column;
  background-color: #001B93;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid white;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 60%;
  justify-content: center;
  align-items: center;
}
#questionContent {
  font-family: 'PT Serif', serif;
  font-weight: bold;
  text-shadow: 5px 5px black;
}

input[type=text] {
  width: 50%;
  border: 2px solid white;
  border-radius: 4px;
  color: blue; 
}

/* The Close Button */
.close {
  color: white;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

